@import "variables";

/* import css share lib */

@import "/src/common/components/breadcrumb/Breadcrumb.style.scss";
@import "/src/common/components/form-search-basic/FormSearchBasic.style.scss";
@import "/src/common/components/table/Table.style.scss";
@import "/src/common/controls/Control.style.scss";
/* You can add global styles to this file, and also import other style files */

body,
html {
    font-family: "Nunito Sans";
}

a:active {
    color: #2d78d7;
}

a:hover {
    color: #2d78d7;
}

/* scroll bar */
.section::-webkit-scrollbar {
    width: 10px;
}

.section::-webkit-scrollbar-track {
    background-color: darkgrey;
}

.section::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.2);
}

/* css custom form */
.form-horizontal {
    .form-group {
        >label {
            width: 100%;
        }
    }
}

// control btn
.btn {
    padding: 5px 20px;
}

.btn-primary {
    background: #2d78d7;
    color: #fff;
    border: 1px solid #2d78d7;
    border-radius: 4px;
}

.btn-primary {
    box-shadow: none !important;

    &:hover,
    &:focus,
    &:active {
        background: #154199;
        color: #fff;
        border: 1px solid #2d78d7;
        border-radius: 4px;
    }
}

.btn-default {
    color: #2d78d7;
    background: #ffff;
    border: 1px solid #2d78d7;
    border-radius: 4px;
    box-shadow: none !important;

    &:hover,
    &:active {
        color: #fff;
        background: #2d78d7;
        border: 1px solid #2d78d7;
        border-radius: 4px;
    }

    &:focus {
        color: #2d78d7;
        background: #ffff;
        border: 1px solid #2d78d7;
        border-radius: 4px;
    }
}

.btn-success {
    color: #127a22;
    background: #ffff;
    border: 1px solid #127a22;
    border-radius: 4px;
    box-shadow: none !important;

    &:hover,
    &:focus,
    &:active {
        color: #fff;
        background: #127a22;
        border: 1px solid #127a22;
        border-radius: 4px;
    }
}

.btn-danger {
    color: #aa0f0f;
    background: #ffff;
    border: 1px solid #aa0f0f;
    border-radius: 4px;
    box-shadow: none !important;

    &:hover,
    &:focus,
    &:active {
        color: #fff;
        background: #aa0f0f;
        border: 1px solid #aa0f0f;
        border-radius: 4px;
    }
}

.btn-warning {
    color: #f0ad4e;
    background: #ffff;
    border: 1px solid #f0ad4e;
    border-radius: 4px;
    box-shadow: none !important;

    &:hover,
    &:focus,
    &:active {
        color: #fff;
        background: #f0ad4e;
        border: 1px solid #f0ad4e;
        border-radius: 4px;
    }
}

.input-group {
    flex: auto;
    width: auto;
}

form {
    legend {
        margin-bottom: 15px;
    }
}

body {
    .dialog-ms.ant-modal {
        width: 414px !important;

        @include tablet-and-mobile {
            width: 100% !important;
        }
    }

    .dialog-md.ant-modal {
        width: 768px !important;

        @include tablet-and-mobile {
            width: 90% !important;
        }
    }

    .dialog-lg.ant-modal {
        width: 70% !important;

        @include tablet-and-mobile {
            width: 90% !important;
        }
    }

    .dialog-max-lg.ant-modal {
        width: 80% !important;

        @include tablet-and-mobile {
            width: 100% !important;
        }
    }

    .dialog-max-xxl-lg.ant-modal {
        width: 90% !important;

        @include tablet-and-mobile {
            width: 100% !important;
        }
    }

    .dialog-full.ant-modal {
        width: calc(100% - 10px) !important;
        top: 70px;

        @include tablet-and-mobile {
            width: 100% !important;
        }
    }

    .dialog-tab.ant-modal {
        width: 100% !important;
        top: 64px;
        right: 1px;
        position: absolute;
        background-color: #fbfbfb;
        padding: 20px;
        min-height: calc(100vh - 64px);
        padding: 0;

        >.ant-modal-content {
            border-radius: 0;
        }
    }

    .modal-data.ant-modal {
        width: 70% !important;
        top: 60px;

        @include tablet-and-mobile {
            width: 100% !important;
        }
    }

    .modal-data-center.ant-modal {
        width: 70% !important;
    }
}

.breadcrumb-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    color: #333333;

    @include tablet-and-mobile {
        text-align: center;
    }
}

.breadcrumb-line {
    >.d-flex {
        width: 100%;
        justify-content: space-between;

        @include mobile {
            display: block !important;
        }
    }
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: 0.5rem;
    color: #8c8c8c;
    content: ">";
}

.list-control-search {
    text-align: center;
    padding: 15px;
    //border-bottom: 1px solid #E5E9F1;

    .btn {
        padding: 6px 30px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;

        margin-right: 12px;

        &:last-child {
            margin-right: 0px;
        }
    }
}

.ant-input-affix-wrapper {
    border-radius: 4px;
}

.filter-up {
    display: flex;
    flex-direction: center;
    justify-content: flex-end;
}

.input-edit-filter {
    display: flex;
    flex-direction: center;
    align-items: center;
}

.name-title-filter {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.form-check {
    width: 5%;
    display: flex;
    justify-content: center;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: #c3c8d2;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
    border-color: #2d78d7 !important;
    box-shadow: 0 0 0 2px rgb(199 105 50 / 20%);
}

.ant-tabs-tab {
    &:hover {
        color: #2d78d7;
    }

    &.ant-tabs-tab-active {
        .ant-tabs-tab-btn {
            color: #2d78d7;
        }
    }
}

.ant-tabs-ink-bar {
    background: #2d78d7;
}

html {
    --antd-wave-shadow-color: #2d78d7;
}

.navbar-light {
    border-top-color: rgba(0, 0, 0, 0.125);
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
}

.table-not-loading {
    font-size: 18px;
    margin-top: auto;
    border: solid 1px #e5e9f1;
    border-top: none;
    padding: 8px 0;
}

.nz-table-hide-scrollbar {
    background-color: #ffffff;
}

.ant-modal-header {
    padding: 12px 24px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

body {
    .page-content {
        min-height: calc(100vh - 5px);
        padding-top: 105px;
        padding-left: 278px;
    }

    .sidebar-light {
        background-color: #2d78d7;
        position: fixed;
        width: 279px; //+1 pixel border
        height: 100%;
        left: 0px;
        top: 64px;
        z-index: 1025;

        .nav-sidebar .nav-link {
            color: #fff;
        }
    }

    .page-header.page-header-light {
        position: fixed;
        z-index: 100;
        width: calc(100vw - 278px);
        left: 279px;
        top: 64px;
    }

    &.sidebar-xs {
        .sidebar-light {
            width: 57px;

            @include mobile {
                width: 0%;
            }
        }

        .page-content {
            padding-left: 57px;

            @include mobile {
                padding-left: 0px;
                padding-top: 90px;
            }
        }

        .page-header.page-header-light {
            width: calc(100vw - 56px);
            left: 57px;

            @include mobile {
                width: 100%;
                left: 0px !important;
            }
        }

        .sidebar-light {
            background-color: #2d78d7;
            position: fixed;
            // height: calc(100% + 300px);
            height: 100%;
        }
    }
}

.ant-modal-close-x {
    width: 46px;
    height: 47px;
    line-height: 47px;
}

.btn-group {
    height: 32px;

    .btn-primary {
        background-color: #2d78d7;
        border-color: #2d78d7;
        font-size: 13px;
        line-height: 17px;
        font-weight: 600;
    }
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow {
    vertical-align: 0px;
    right: 0px;
    top: 15px;
    position: absolute;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header {
    padding: 9px 16px;
}

.ant-tree-show-line .ant-tree-switcher-line-icon {
    vertical-align: 0.2px;
}

.ant-collapse {
    border: none;
}

.ant-collapse>.ant-collapse-item {
    border-bottom: none;

    &.ant-collapse-item-disabled {
        opacity: 0.5;
    }
}

.ant-collapse-content {
    border-top: none;

    .ant-collapse-content-box {
        .list-btn-action {
            position: absolute;
            top: 8px;
            right: 40px;

            >button {
                margin-right: 10px;
                height: 24px;
                line-height: 12px;
                font-size: 14px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .tootipTable {
            position: absolute;
            top: 786px;
            right: 210px;
            z-index: 100;
        }

        .tootipTableHeader :hover {
            background-color: red !important;
        }
    }
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header {
    border-radius: 4px;
    background-color: rgb(50 123 199 / 10%);
    color: #2d78d7;
    font-weight: 600;
    font-size: 14px;
}

.ant-collapse {
    background: none;
}

.ant-collapse-header[aria-expanded="false"] {
    margin-bottom: 24px;
}

table tbody>tr>td {
    padding: 2px 8px;
}

.title-group {
    font-weight: 600;
    font-size: 14px;
}

.title-group-table {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #2d78d7;
    border: none;
    background-color: white;
    height: 30px;
}

.addQTCT {
    height: 500px;
}

.title-collapse {
    margin: 0px 1px;
    border-radius: 4px;
    background-color: rgb(50 123 199 / 10%);
    color: #2d78d7;
    font-weight: 600;
    font-size: 14px;
    height: 40px;
}

.title-name-collapse {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.title-button-collapse {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.name-collapse {
    margin-left: 10px;
}

.button-collapse {
    margin-top: 0px 10px;
    font-size: 14px;
}

.button-sync {
    width: 20px;
    height: 20px;
    background-color: #2d78d7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-collapse-item {
    &.has-icon {
        position: relative;

        .ant-collapse-header {
            padding-left: 40px;
        }

        .ant-collapse-content {
            .ant-collapse-content-box {
                >i:first-child {
                    position: absolute;
                    top: 5px;
                    left: 10px;
                    font-size: 18px;
                    color: #2d78d7;
                }

                >.point-target {
                    position: absolute;
                    top: -10px;
                    left: 10px;
                }
            }
        }
    }
}

.ant-modal-content {
    border-radius: 10px;
}

.ant-table-pagination.ant-pagination {
    margin: 0;
}

nz-spin {
    &.div-loading {
        padding-top: 20px;
    }
}

.ant-table.ant-table-small .ant-table-thead>tr>th {
    padding-top: 2px;
    padding-bottom: 2px;
}

.data-edit {

    nz-input-group,
    input-textarea,
    nz-select-top-control {
        border: 1px solid #df2929 !important;
        border-radius: 4px !important;

        input {
            border: none !important;
        }
    }

    .i-his {
        position: absolute;
        right: 5px;
        top: 26px;
        z-index: 1;
        color: #df2929;
    }

    .i-mess {
        padding: 5px 10px;
        background-color: #2d78d7;
        color: #ffffff;
        position: absolute;
        top: -13px;
        right: 10px;
        z-index: 2;
        border-radius: 5px;
    }
}

.table-edit {
    position: relative;
    border: solid 1px #dba512;
    border-radius: 2px;

    .i-his {
        position: absolute;
        right: 8px;
        top: -30px;
        z-index: 2;
        color: #dba512;
        cursor: pointer;
    }
}

.disabled-event {
    .ant-collapse-header {
        pointer-events: none;
    }
}

// control custom ui
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 4px;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: #2d78d7;
    box-shadow: 0 0 0 2px rgb(199 105 50 / 20%);
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #2d78d7;
    border-color: #2d78d7 !important;
}

.ant-checkbox-checked::after {
    border: 1px solid #2d78d7 !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus+.ant-checkbox-inner {
    border-color: #2d78d7;
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
    background-color: #2d78d7;
}

.ant-notification-notice {
    top: 100px;
}

.ant-message-notice-content {
    margin-top: 100px;
    position: absolute;
    right: 35px;
    border-radius: 5px;

    .ant-message-error {
        padding: 15px 5px;
    }
}

nz-table {

    th,
    td {
        text-align: center;
    }
}

a.locked {
    opacity: 0.08 !important;
    pointer-events: none !important;
}

i[class*="isax-"] {
    font-size: 14px;
    line-height: unset !important;
}

body {
    .body-dialog-tab {
        .ant-modal-mask {
            left: 278px;
        }

        .cdk-overlay-backdrop {
            left: 278px;

            @include mobile {
                left: 0px;
            }
        }

        .ant-modal-wrap {
            left: 278px;
            // top: 0;
            width: calc(100% - 278px) !important;

            @include mobile {
                left: 0px;
            }
        }

        .ant-modal-body {
            // padding: 0px 24px 40px 24px;
            padding: 10px 24px 10px 24px;
        }
    }

    .list-control-footer {
        height: 41px;
        line-height: 40px;
        background: #fff;
        position: fixed;
        bottom: 0;
        right: 0px;
        left: 278px;
        text-align: center;
        border-top: solid 1px #f0f0f0;
        z-index: 999;

        .btn {
            padding: 6px 40px;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;

            margin-right: 12px;

            &:last-child {
                margin-right: 0px;
            }
        }

        .control-action-left {
            position: absolute;
            left: 7px;
            top: 0px;
        }

        .control-action-right {
            position: absolute;
            right: 7px;
            top: 0px;
        }
    }

    &.sidebar-xs {
        .body-dialog-tab {
            .ant-modal-mask {
                left: 57px;
            }

            .ant-modal-wrap {
                width: calc(100% - 57px) !important;
                left: 57px;

                @include mobile {
                    left: 0px;
                }
            }

            .cdk-overlay-backdrop {
                left: 57px;

                @include mobile {
                    left: 0px;
                }
            }
        }

        .list-control-footer {
            left: 57px;
        }
    }
}

// ducnv fix ui scroll dialog-tab
.cdk-global-scrollblock {
    overflow-y: unset;
}

.ant-select-disabled.ant-select-multiple .ant-select-selection-item {
    color: #000000;
}

.group-header {
    display: flex;
    justify-content: space-between;

    .title-group-table {
        margin-bottom: 0px;
        line-height: 30px;
        height: 30px;
    }

    .control-right {
        button {
            font-size: 14px;
            color: #2d78d7;
            border: none;
            background: none;
            font-weight: 600px;
        }
    }
}

.ant-checkbox-disabled.ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: rgb(255 255 255) !important;
}

.sub-control {
    position: absolute;
    right: 0px;
    top: 145px;
    z-index: 999;

    button {
        color: #2d78d7;
        background: none;
        border: none;
        padding: 0px 10px;
        font-weight: 600;
        font-size: 13px;
        box-shadow: none;
        height: 28px;

        &:hover {
            background: none;
            color: #c75512;
        }
    }
}

.text-primary {
    color: #2d78d7 !important;

    &:hover {
        color: #d6570e !important;
    }
}

td {
    .td-his-edit {
        color: #2d78d7 !important;

        .hist-content {
            display: none;
        }

        &:hover {
            color: #d6570e !important;
            position: relative;

            .hist-content {
                display: block;
                color: #ffffff !important;
                background-color: #d6570e;
                padding: 0px 8px;
                border-radius: 5px;
                position: absolute;
                top: 0px;
                z-index: 100;
            }
        }
    }
}

.status0 {
    color: #ff9232;
    position: relative;
    text-align: left;
    padding-left: 40px !important;
    font-weight: 600;

    &:before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        top: calc(50% - 5px);
        left: 14px;
        background-color: #ff9232;
        border-radius: 50%;
    }
}

.status1 {
    color: #009247;
    position: relative;
    text-align: left;
    padding-left: 40px !important;
    font-weight: 600;

    &:before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        top: calc(50% - 5px);
        left: 14px;
        background-color: #009247;
        border-radius: 50%;
    }
}

.status2 {
    color: #0c58af;
    position: relative;
    text-align: left;
    padding-left: 40px !important;
    font-weight: 600;

    &:before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        top: calc(50% - 5px);
        left: 14px;
        background-color: #0c58af;
        border-radius: 50%;
    }
}

.status3 {
    color: #ff3f3f;
    position: relative;
    text-align: left;
    padding-left: 40px !important;
    font-weight: 600;

    &:before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        top: calc(50% - 5px);
        left: 14px;
        background-color: #ff3f3f;
        border-radius: 50%;
    }
}

.status4 {
    color: #2c6aac;
    position: relative;
    text-align: left;
    padding-left: 40px !important;
    font-weight: 600;

    &:before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        top: calc(50% - 5px);
        left: 14px;
        background-color: #2c6aac;
        border-radius: 50%;
    }
}

.status5 {
    color: #ff3f3f;
    position: relative;
    text-align: left;
    padding-left: 40px !important;
    font-weight: 600;

    &:before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        top: calc(50% - 5px);
        left: 14px;
        background-color: #ff3f3f;
        border-radius: 50%;
    }
}

.control-warning-text {
    color: #ff9232;
}

.ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input:focus,
.ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:focus,
.ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input-focused,
.ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper-focused {
    box-shadow: none;
}

// css form ho so va from tu khai
//ho so
.ho-so {
    .ant-modal-header {
        position: fixed;
        width: calc(100% - 268px);
        border-bottom: none;
        margin-left: 1px;

        .ant-modal-title {
            .ng-star-inserted {
                padding-left: 335px;
                font-weight: 700;
                font-size: 18px;
            }
        }
    }

    .ant-modal-close {
        left: 305px;
        width: 46px;
        height: 47px;

        i {
            font-size: 24px;
            line-height: 48px;
            color: #2d78d7;
        }
    }

    .ant-modal-body {
        padding-top: 0px;
        padding-right: 10px;
        padding-left: 0px;
        min-height: calc(100vh - 64px);
    }

    &.add {
        .wapper-hoso {
            width: calc(100vw - 236px) !important;

            .du-lieu-ho-so {
                width: calc(100% - 44px) !important;
            }
        }

        .ant-modal-close {
            left: 10px;
        }

        .ant-modal-header {
            .ant-modal-title {
                .ng-star-inserted {
                    padding-left: 35px;
                }
            }
        }
    }

    &.full {
        .wapper-hoso {
            // width: 100%;

            .du-lieu-ho-so {
                width: calc(100% - 44px) !important;
            }
        }

        .ant-modal-close {
            left: 10px;
        }

        .ant-modal-header {
            .ant-modal-title {
                .ng-star-inserted {
                    padding-left: 35px;
                }
            }
        }
    }

    .nav-tabs-bottom .nav-link.active:before {
        background-color: #2d78d7;
    }

    .ant-collapse-content>.ant-collapse-content-box {
        padding: 16px 0;
    }
}

// tu khai
.ho-so-ca-nhan {
    .ant-modal-header {
        position: fixed;
        width: calc(100% - 268px);
        border-bottom: none;
        margin-left: 1px;

        .ant-modal-title {
            .ng-star-inserted {
                padding-left: 35px;
                font-weight: 700;
                font-size: 18px;
            }
        }
    }

    &.hide-back {
        .ant-modal-header {
            .ant-modal-title {
                .ng-star-inserted {
                    padding-left: 0px;
                }
            }
        }

        .headerInfo {
            .tu-khai-back {
                display: none;
            }
        }
    }

    .ant-modal-close {
        left: 7px;
        width: 46px;
        height: 47px;

        i {
            font-size: 24px;
            line-height: 48px;
            color: #2d78d7;
        }
    }

    .ant-modal-body {
        padding-top: 0px;
        padding-right: 10px;
        padding-left: 0px;
        min-height: calc(100vh - 64px);
    }

    &.add {
        .wapper-hoso {
            width: calc(100%) !important;

            .du-lieu-ho-so {
                width: calc(100% - 270px) !important;
            }
        }

        .ant-modal-close {
            left: 10px;
        }

        .ant-modal-header {
            .ant-modal-title {
                .ng-star-inserted {
                    padding-left: 35px;
                }
            }
        }
    }

    .nav-tabs-bottom .nav-link.active:before {
        background-color: #2d78d7;
    }

    .ant-collapse-content>.ant-collapse-content-box {
        padding: 16px 0;
    }

    i.isax-danger {
        color: #df2929 !important;
        margin-left: 2px;
    }
}

body {
    &.sidebar-xs {
        .ho-so {
            app-ho-so-data {
                .wapper-hoso {
                    width: calc(100% - 48px) !important;
                }
            }

            &.add {
                app-ho-so-data {
                    .wapper-hoso {
                        width: calc(100%) !important;
                    }
                }
            }
        }

        app-ho-so-ca-nhan-data {
            .wapper-hoso {
                .du-lieu-ho-so {
                    width: 100% !important;
                }
            }
        }
    }
}

// ------------------------------

.ant-message-custom-content.ant-message-error {
    white-space: pre-line;
}

.ant-notification-notice-description {
    white-space: pre-line;
}

nz-result {
    svg {
        display: unset;
    }
}

.mt-m-15 {
    margin-top: -15px;
}

.mt-m-25 {
    margin-top: -25px;
}

.btn-view {
    color: #1656c0 !important;
    border-color: #1656c0 !important;

    &:hover,
    &:active {
        color: #fff !important;
        background: #1656c0 !important;
    }
}

.btn-delete {
    color: #bf0e0e !important;
    border-color: #bf0e0e !important;

    &:hover,
    &:active {
        color: #fff !important;
        background: #bf0e0e !important;
    }
}

.list-icons-item {
    &.action-add {
        color: #044e12 !important;
    }

    &.action-view {
        color: #000000 !important;
    }

    &.action-edit {
        color: #073288 !important;
    }

    &.action-delete {
        color: #b30303 !important;
    }
}

.cdk-overlay-container {
    z-index: 1050;

    &.body-dialog-tab {
        z-index: 1000;
    }
}

.title-group {
    display: flex;
    border-radius: 4px;
    background-color: rgb(50 123 199 / 10%);
    color: #2d78d7;
    font-weight: 600;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
    min-height: 30px;

    .title-label {
        padding: 0px 10px;
    }

    .title-control {
        padding: 5px 10px;

        button {
            height: 25px;
            line-height: 12px;
        }
    }
}

tr {
    &.item-add {

        td,
        .ant-table-cell-fix-left,
        .ant-table-cell-fix-right {
            background: #acffc2;
        }
    }

    &.item-deleted {

        td,
        .ant-table-cell-fix-left,
        .ant-table-cell-fix-right {
            background: #ffacac;
        }
    }

    &:hover {
        &.item-add {

            td,
            .ant-table-cell-fix-left,
            .ant-table-cell-fix-right {
                background: #acffc2 !important;
            }
        }

        &.item-deleted {

            td,
            .ant-table-cell-fix-left,
            .ant-table-cell-fix-right {
                background: #ffacac !important;
            }
        }
    }
}

// validate control
input-text,
input-text-search,
input-textarea {
    &.ng-invalid.ng-dirty {
        nz-input-group {
            border-color: #ff4d4f !important;
        }
    }
}

input-select-multiple,
input-select-multiple-api,
input-select,
input-select-api {
    &.ng-invalid.ng-dirty {
        nz-select-top-control {
            border-color: #ff4d4f !important;
        }
    }
}

input-year,
input-date,
input-date-time,
input-date-range,
input-date-dynamic {
    &.ng-invalid.ng-dirty {

        .ant-input-group-addon,
        .ant-input-affix-wrapper {
            border-color: #ff4d4f !important;
        }
    }
}

app-table {

    .ant-table-thead>tr>th,
    .ant-table tfoot>tr>th {
        padding: 6px 10px !important;
    }

    .ant-table-tbody>tr:not(.ant-table-measure-now)>td,
    .ant-table tfoot>tr>td {
        padding: 8px 10px !important;
    }
}

.btn-addvance {
    border: solid 1px #e38f21;
    background-color: #e38f21;
    color: #fff;
    border-radius: 5px;
    height: 32px !important;

    width: 40px !important;
    padding: 0 !important;

    i {
        font-size: 18px;
    }
}

.modal-printer {
    width: 650px !important;
}

.ant-table.ant-table-small .nz-table-hide-scrollbar {
    scrollbar-width: thin;
}

.hide {
    display: none;
}