body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.required{
  color: #ff4d4f;
}

.ant-card-head-title{
  flex: none !important;
}

.input-label{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-label label {
  color: #64748b;
  font-size: 13px;
}

.cs-input {
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s;
}

.custom-input:focus {
  border-color: #1890ff;
}